<html>
    <head>
        <script>
            function init(){
                document.getElementById("input-answer").focus();
                var t = "{{trueorfalse}}";
                var e = "{{estimation}}";
                if (e=="True"){
                    if (t=="True"){
                        alert("success");
                    }
                    else{
                        alert("failure");
                    }
                }
                    
            }
        </script>
    </head>
    <body onload="init();">
        <form action="./select/" method="POST" onsubmit="e='false';">{% csrf_token %}
            <select name="part" id="select-part" style="width:100px; text-align-last: center;">
                <option value="3">PartⅠ03</option>
                <option value="4">PartⅠ04</option>
                <option value="5">PartⅠ05</option>
                <option value="4">PartⅠ06</option>
                <option value="7">PartⅠ07</option>
                <option value="8">PartⅠ08</option>
                <option value="9">PartⅠ09</option>
                <option value="10">PartⅠ10</option>
                <option value="11">PartⅠ11</option>
                <option value="12">PartⅠ12</option>
            </select>
            <select name="lng" id="select-lng" style="width:100px; text-align-last: center;">
                <option value="ENLISH">영어</option>
                <option value="KOREAN" disabled>한국어</option>
            </select>
            <select name="type" id="select-type" style="width:100px; text-align-last: center;">
                <option value="objective" disabled>객관식</option>
                <option value="subjective">주관식</option>
                <option value="sentence">문장</option>
            </select>
            <button >Enter</button> <br><br>
        </form>
        <h3>{{ question }}</h3>
        <form action="./input/" method="POST"  onsubmit="e='true';" style="display:inline-block;">{% csrf_token %}
            <input type="text" name="answer" id="input-answer" autocomplete='off' size="30" style="display:inline-block;">
        </form>
        <form action="./skip/" method="POST" style="display:inline;"> {% csrf_token %}
            <button name="skip" style="display:inline-block;">SKIP</button>
        </form>
        {% if state == "complete" %}
        <div>
            {{ score }}
        </div>
        {% endif %}
    </body>
</html>